
img {
    position: absolute;
    top: 0px;
    left: 0px;
    border-style: solid;
    padding: 8px;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input_box {

}

.img_box {
    position: fixed;
    border-style: dashed;
    top: 58px;
    left: 0;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    width: 98%;
    height: 98%;
    margin: 9px;
}

#img_src {
	width: 50%;
}
